


.transparent-btn {
    -fx-border-width: 0;
    /*-fx-background-color: transparent;*/
    -fx-font-weight: bold;
}

.image-border {
    -fx-border-width: 1;
    -fx-border-color: #eeeeee80;
    -fx-border-style: dashed;
}

.success-btn {
    -fx-padding: 5px 20px;
    -fx-border-radius: 10px;

}

.link-color {
    -fx-cursor: hand;
}



.text-field-error {
    -fx-border-color: orange;
}

.smpro-large {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-font-family: "Bodoni MT Black";
}
.smpro-large-sub {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI"
}


.section-title{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-opacity: 1;
}

  .label.advert-text{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "fantasy";
    -fx-text-fill: #eeeeee50;
    -fx-underline: false;
}

.label.advert-text > .ikonli-font-icon {
    -fx-icon-color:#eeeeee50;
}

.report-boldText {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #242424;
    -fx-font-family: "Bodoni MT Black";
}
.report-text {
    -fx-text-fill: #242424;
    -fx-font-size: 11px;

}

.report-textsmall {
    -fx-font-size: 9px;
    -fx-text-fill: #242424;

}

.report-background{
    -fx-background-color: white;
    -fx-border-radius: 10px;
}

.round-left{
    -fx-border-radius: 0 0 10px 10px;
}

.error-textfield{
    -fx-border-color: #b33029;
}




