

.button{
    -fx-font-weight: bold;
    -fx-border-width: 0;

}

.button:focused {
    -fx-border-width: 0;
}
.button:pressed {
    -fx-background-color: #eee;
}

.transparent-btn {
    -fx-border-width: 0;
    /*-fx-background-color: transparent;*/
    -fx-font-weight: bold;
}

.titled-pane {
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1;
    -fx-background-color: #eee;

}

.titled-pane > .title {
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian,#ccc,2,0,0,0);
    -fx-background-color: linear-gradient(to bottom,#ddd,#eee);
    -fx-padding: 5 10;


}

.titled-pane >.title > .text {
    -fx-text-fill: linear-gradient(to bottom, #fff, #cccccc);
    -fx-effect: dropshadow(gaussian, #fff, 2, 0, 0, 0);

}


.image-border {
    -fx-border-width: 1;
    -fx-border-color: #eeeeee80;
    -fx-border-style: dashed;
}

.success-btn {
    -fx-padding: 5px 20px;
    -fx-border-radius: 10px;

}

.link-color {
    -fx-cursor: hand;
}



.text-field-error {
    -fx-border-color: orange;
}

.smpro-large {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-font-family: "Bodoni MT Black";
}
.smpro-large-sub {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI"
}

.combo-box-popup .list-view .list-cell {
    -fx-font-weight: bold;
    -fx-font-family: Consolas;
    -fx-padding: 4px;
}

.combo-box .text-input {
    -fx-background-color: #eeeeee90;
}

.section-title{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-opacity: 1;
}

  .label.advert-text{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "fantasy";
    -fx-text-fill: #eeeeee50;
    -fx-underline: none;
}

.label.advert-text > .ikonli-font-icon {
    -fx-icon-color:#eeeeee50;
}

.report-boldText {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #242424;
    -fx-font-family: "Bodoni MT Black";
}
.report-text {
    -fx-text-fill: #242424;
    -fx-font-size: 11px;

}

.report-textsmall {
    -fx-font-size: 9px;
    -fx-text-fill: #242424;

}

.report-background{
    -fx-background-color: white;
    -fx-border-radius: 10px;
}




