

.transparent-btn {
    -fx-border-width: 0;
    /*-fx-background-color: transparent;*/
    -fx-font-weight: bold;
}

.image-border {
    -fx-border-width: 1;
    -fx-border-color: #eeeeee80;
    -fx-border-style: dashed;
}

.success-btn {
    -fx-padding: 5px 20px;
    -fx-border-radius: 10px;

}

.link-color {
    -fx-cursor: hand;
}



.smpro-large {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-font-family: "Bodoni MT Black";
    /*-fx-font-family: Space;*/
}
.smpro-large-sub {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI"
}


.section-title{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-opacity: 1;
}

  .label.advert-text{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "fantasy";
    -fx-text-fill: #eeeeee50;
    -fx-underline: false;
}

.label.advert-text > .ikonli-font-icon {
    -fx-icon-color:#eeeeee50;
}

.report-boldText {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #242424;
    -fx-font-family: "Bodoni MT Black";
}
.report-text {
    -fx-text-fill: #242424;
    -fx-font-size: 11px;

}

.report-textsmall {
    -fx-font-size: 9px;
    -fx-text-fill: #242424;

}

.report-background{
    -fx-background-color: white;
    -fx-border-radius: 10px;
}

.round-left{
    -fx-border-radius: 0 0 10px 10px;
}

.error-textfield{
    -fx-border-color: #ff6158 ;
}

.bordered-item {
    -fx-border-width: 1px;
    -fx-padding: 2px 5px 2px 10px;
    -fx-border-color: #44444480;
    -fx-font-weight: bold;
    -fx-font-size: 12px;

}

.caption-text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #eeeeeeaa;
}
.caption-container {
    -fx-padding: 0 0 1px 10px;
    -fx-border-color: #44444480;
    -fx-border-width: 0 0 1px 0;
}

.closedlg {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-animated: true;
    -fx-min-height: 40;
    -fx-min-width: 40;
}

.items-background{
    -fx-background-radius: 2em 0 0 2em;
    -fx-padding: 5px;
}

.value-display-label {
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-text-fill: lightgray;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;

}








